.dashboard_menu{
    list-style: none;
}

.contenedor_menu_dashboard{
    padding-top: 7vh;
    background: white;
    width: 25%;
    height: 100vh;

    
}

.contenedor_dashboard{
    display: flex;
}

.contenedor_contenido_dashboard{
    background: #3AAC59;
    width: 75%;
    height: 100vh;
}

.contenido_dashboard{
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.contenedor_contenido{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
    
}

.item_resultado{
    display: flex;
    justify-content: space-around;
    
}

.titulo_resultado{
    width: 70%;
    text-align: start;
    color: #004C3F;
    font-weight: bolder;
    font-size: 1.3vw;
    
}


.resultado{
    width: 30%;
    color: #004C3F;
    font-weight: bolder;
    font-size: 1.3vw;
}


.titulo_contenido{
    font-weight: bolder;
    color: #004C3F;
    font-size: 1.3vw;
    margin-bottom: 2em;
    

}

.dashboard_contenido_menu{
    color: #004C3F;
    font-size: 1.3vw;
    font-weight: bolder;
    margin-top: 6vh;
    
}
.dashboard_menu{
    padding-left: 0;
    
}

.dashboard_menu li {
    margin-bottom: 5vh;
    
}
.contenedor_menu{
    padding-left: 3em;
}

.dashboard_titulo_menu{
    font-size: 3vw;
    font-weight: 700;
    color: #004C3F
}
.botones_menu_dashboard{
    cursor: pointer;
transition: .2s;
    width: auto;
    background-color: transparent;
    border: none;
    color: #004C3F;
    font-size: 1em;
    font-weight: bold;
    border-radius: .5em;
}
.botones_menu_dashboard:hover{
    background-color: #004C3F;
    color: white;
}
.contenedor_boton_buy{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.contenedor_boton_buy img{
    margin: 0 auto;
}
.contenedor_blanco{
    background: white;
    border-radius: 1.5em;
    text-align: center;
    
     padding: 2em;
    padding-top: 1em;
}
.boton_buy{
    background: white;
    border: none ;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    

}
.boton_buy img{
    width: 70%;
}
.contenedor_verde{
    background-color: #3AAC59   ;
}

.mensaje{
    color: white;
    font-weight: bolder;
}



/* aca es la zona del css de las compras */

.compra_label_input{
display: block;
text-align: start;
color: #004C3F;
font-weight: 600;
margin-bottom: .7em;
font-size: .9em;
}

.compra_input{
    
    background-color: #70707044 ;
    
}

.compra_input_select{
    background-color: #70707044 ;
}
.compra_input:focus{
    background-color:#70707013;
    
}

.compra_descripcion_input{
    text-align: start;
}

.descripcion_compra_input{
    display: block;
    text-align: start;
}
.buy_contenedor_indicadores{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.buy_indicador{
    color: #3AAC59;
    font-weight: 500;
    margin:0 ;
}

.MuiSlider-root{
    padding: 0px;
}
.titulo_price{
    margin: 0;
}

.contenedor_price{
    text-align: start;
    margin-bottom: 1em;
}
.titulo_zona{
    color: #3AAC59;
}

.buy_contenedor_zona_horaria{
    text-align: start;
    color: #004C3F;
    font-weight: 500;
    margin-bottom: 2em;
}
.buy_titulo_slider{
    text-align: start;
    color: #004C3F;
    margin-bottom: 0;
    font-weight: 500;
    
}

.boton_crear_orden{
    width: 13vw;
    font-size: large;
    font-weight: bold;
}
.titulo_zona_horaria{
    margin: 0;
}
.contenedor_img_qr{
    width: 40%;
    height: 30%;
    margin: 2vh auto;
}
.imagen_qr{
    border: 10px solid #707070;
    width: 100%;
    height: 100%;
}
.contenedor_descripcion_qr{
    width: 100%;
    margin-bottom: 2vh;
    
}

.descripcion_imagen_qr{
    text-align: center;
    margin: 2vh 0 ;
}
.input_relative{
    position: relative;
}

.boton_copiar{
    position: absolute;
    right: 0;
}

.contenedor_link{
    display: flex;
    align-items: center;
}

.archivo_pago{
 
}


.advertencia{
    color: red !important;
    font-size: .8em;
}

.aviso_pago{
    font-size: .6em;
    line-height: 3em;
    margin-bottom: 2vh;
}
.contendor_imagen_qr{
    margin-bottom: 0vh;
}
.input_link{
    padding: 1.5rem;
}

.contenedor_link{
    margin: 1vh;
}

.titulo_imagen_pagar{
    margin: 0 ;
    font-size: small;
    color: #004C3F;
    font-weight: bold;
}