@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?oigmaa');
    src:  url('../fonts/icomoon.eot?oigmaa#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?oigmaa') format('truetype'),
      url('../fonts/icomoon.woff?oigmaa') format('woff'),
      url('../fonts/icomoon.svg?oigmaa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-menu:before {
    content: "\e900";
  }
  .burger-button{
      
    display: none;
    width: 40px;
    height: 5.5vh; 
    border-radius: 50%; 
    
    /*
    display: flex;
    justify-content: center;
    align-items: center; */
    
    /* esto sirve para centrar los texto de manera vertical  */
    line-height: 5vh;
    /* esto sirve para alinear el texto  */
    text-align: center;
    position: fixed;
    z-index: 6;
    left: 5px;
    top: 2.5vh;
    
    color:#3AAC59;
    

}

 @font-face{
     font-family: "Montserrat";
     src: url("./fuentes/Montserrat-Thin.ttf");
     font-weight:100 ;
 } 

 
 @font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-ExtraLight.ttf");
    font-weight:200 ;
} 

@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-Light.ttf");
    font-weight:300 ;
} 


@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-Regular.ttf");
    font-weight:400 ;
} 
  

@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-Medium.ttf");
    font-weight:500 ;
} 

@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-SemiBold.ttf");
    font-weight:600 ;
} 

@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-Bold.ttf");
    font-weight:700 ;
} 



@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-ExtraBold.ttf");
    font-weight:800 ;
} 

@font-face{
    font-family: "Montserrat";
    src: url("./fuentes/Montserrat-Black.ttf");
    font-weight:900 ;
} 



html,body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
a{
    text-decoration: none;
}

.contenedor{
    width:75%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;

}
.contenedor_reducido{
    width: 65%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.botones_pagina_header{
    background-color: #3AAC59;
    padding: .5rem;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    margin-right: 10px;
    

}
.botones_pagina{
    background-color: #3AAC59;
    padding: .8rem;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    
    
}
.spiner{
    position: absolute;
    top:50%
}

.contenedor_spiner{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.spiner{
    position: absolute;
    top: 50%;
}

.display_none{
    display: none;
}
